/**
* # Fretboard widths
*
* Width of Fret n = calc(var(--first-fret-width) * var(fret-ratio) ** (n−1))
*/

:root {
    --marker-color: #383530;
    --fretboard-color: #755628;
    --fret-ratio: 0.9439;
    --first-fret-width: 2.5rem;
}

.fretboard {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    background-color: var(--marker-color);
    box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.5);

    .string {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 0.15rem;
            background-color: darkgrey;
        }

        .nut {
            background-color: var(--marker-color);
        }

        .fret {
            background-color: var(--fretboard-color);
        }
    }
}

.nut, .fret {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;

    .note {
        position: relative;
        border-radius: 50%;
        width: 1.6rem;
        height: 1.6rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
    }
}

.fret .note {
        border: 1px solid dodgerblue;
        background-color: royalblue;
}

.placehodor {
    padding: 0px;
}
